<div class="container mt-5">
    <div class="col-md-10 rounded">
      <div class="table-responsive table-borderless">
        <table class="table">
          <thead>
            <tr>
              <th class="text-center">codigo</th>
              <th>decripcion</th>
              <th>precio</th>
              <th>stock</th>
              <th>Pais</th>
            </tr>
          </thead>
          <tbody class="table-body">
            <tr
              class="cell-1"
              data-toggle="collapse"
              data-target="#demo"
              *ngFor="let item of productos"
              (click)="enviarProducto(item)"
            >
              <td class="text-center">{{ item.codigo }}</td>
              <td>{{ item.decripcion }}</td>
              <td>{{ item.precio }}</td>
              <td class="text-center">{{ item.stock }}</td>
              <td>{{ item.pais }}</td>
              <td class="table-elipse" data-toggle="collapse" data-target="#demo">
                <i class="fa fa-ellipsis-h text-black-50"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
