<div class="container mt-5">
    <div class="col-md-10 rounded">
      <div class="table-responsive table-borderless">
        <table class="table">
          <thead>
            <tr>
              <th class="text-center">DNI</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Capacidad</th>
              <th>Pais</th>
              <th>Fecha de Nacimiento</th>
            </tr>
          </thead>
          <tbody class="table-body">
            <tr
              class="cell-1"
              data-toggle="collapse"
              data-target="#demo"
              *ngFor="let item of repartidores" 
              (click)="enviarRepartidor(item)"
            >
              <td class="text-center">{{ item.dni }}</td>
              <td>{{ item.nombre }}</td>
              <td>{{ item.apellido }}</td>
              <td class="text-center">{{ item.capacidad }}</td>
              <td>{{ item.pais }}</td>
              <td class="text-center">{{ item.fechaNac }}</td>
              <td class="table-elipse" data-toggle="collapse" data-target="#demo">
                <i class="fa fa-ellipsis-h text-black-50"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>   
