<body class="bg-light">
    <div class="container">
  <div class="row">

    <div class="col-md-4 order-md-2 mb-4">
      <app-tabla-paises (paisSeleccionado)="asignarPais($event)"></app-tabla-paises>
    </div>

    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Alta producto</h4>
      <form [formGroup]="formularioAlta" class="needs-validation" (ngSubmit)="submitForm()">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label>Decripcion</label>
            <input type="text" class="form-control" formControlName="descripcion" >
          </div>
          <div class="col-md-6 mb-3">
            <label>Codigo</label>
            <input type="number" class="form-control" formControlName="codigo" >
          </div>
        </div>

        <div class="mb-3">
          <label for="username">Precio</label>
          <div class="input-group">
            <input type="number" class="form-control" formControlName="precio" placeholder="12345678" >
          </div>
        </div>

        <div class="mb-3">
          <label>Stock</label>
          <input type="number" class="form-control" formControlName="stock" placeholder="2">
        </div>

        <div class="mb-3">
          <label>Pais</label>
          <input type="text" class="form-control" formControlName="pais" [value]="paisForm" readonly>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" formControlName="comestible">
          <label class="custom-control-label">Comestible</label>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="formularioAlta.invalid">Continuar</button>
      </form>
    </div>
  </div>

</div>

